{{> head }}

{{> navbar }}

<div class="jumbotron">
    <h1 class="display-4">Estudios del Covid segun el poderoso {{ capitalizar nombre }}</h1>
    <p class="lead">
        Segun estudios de la universidad del poderoso Oscar, dios de los dioses, tienes que tener cuidado del virus,
        porque dicen las malas lenguas que no te hara nunca de comer sino te cuidas, existen personas que les dicen PANCHA
        y quieren salir todos los dias y ya no se cuidan.
        .</p>
    <hr class="my-4">
    <p>CUIDATEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE.</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>

{{> footer}}